.firesite-row {
  position: relative;
  font-size: 14px;
  line-height: 21px;
  padding: 0 40px;
  margin-bottom: 10px;
}

.firesite-row__inner {
  padding-bottom: 20px;
  margin: 0 auto;
  max-width: 1352px;
  padding: 80px 114px;
  position: relative;
  z-index: 1;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12);
}

.is-page-header-row {
  padding-top: 70px;
}

.firesite-page-header__title h2{
  color: grey;
  font-size: 50px;
  line-height: 32px;
  font-weight: 50;
  margin-bottom: 20px;
}

.firesite-page-header__tagline p {
  color: #757575;
  font-family: 'Google Sans', Roboto, sans-serif;
  font-size: 48px;
  line-height: 62px;
  font-weight: 400;
  max-width: 80%;
  margin-bottom: 40px;
}

.firesite-columns {
  display: flex;
  flex-direction: row;
  margin: 0 -8px;
}

.firesite-columns__col {
  margin: 0 8px;
  flex: 1;
}

.jump {
  background-repeat: no-repeat;
  background-position: center left;
  background-size: auto 130px;
  display: flex;
  height: 130px;
  flex-direction: column;
  padding-left: 160px;
  max-width: 480px;
}

.firesite-button {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  color: #039be5;
  font-weight: 500;
  display: inline-flex;
  border-radius: 2px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  transition: box-shadow.2s;
}

.no-pad {
  align-self: baseline;
  padding: 0;
}

.firesite-row-header {
  margin-bottom: 40px;
}

.firesite-row-header__title {
  color: #424242;
  font-family: 'Google Sans', Roboto, sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
}

.firesite-feature-boxes2 {
  display: inline-flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 16px;
  padding-top: 1px;
  padding-left: 1px;
  width: 100%;
}

.firesite-feature-boxes__box {
  box-sizing: border-box;
  position: relative;
  width: 50%;
  padding: 30px;
  border: 1px solid #eceff1;
  display: inline-block;
  margin-top: -1px;
  margin-left: -1px;
}

.firesite-feature-icon2 {
  margin-bottom: 16px;
  font-size: 80px;
  background-color: #ffc107;
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 0.2px rgba(255, 255, 255, .5) inset, 0 -1px 0.2px rgba(255, 143, 0, .3) inset, 3px 3px 0 #b3e5fc;
}

.firesite-feature-boxes__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  color: #ff8f00;
  margin-bottom: 8px;
}

.firesite-feature-boxes__description {
  font-size: 14px;
  line-height: 24px;
  color: #757575;
  padding-bottom: 40px;
}



@media only screen and (max-width: 600px) {


.ultimo{
display: none !important;

}
.firesite-page-header__title h2{
  position: relative;
  left:-60px;
  color: grey;
  font-size: 40px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 20px;
}
.firesite-page-header__tagline p {
  text-align:center;
  color: #757575;
  font-family: 'Google Sans', Roboto, sans-serif;
  position: relative;
  left:-45px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 40;
  max-width: 40%;
  margin-bottom: 20px;
}

.firesite-button {
  position: relative;
  left:-40px;
  font-size: 10px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  color: #039be5;
  font-weight: 500;
  display: inline-flex;
  border-radius: 2px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  transition: box-shadow.2s;
}



}
