.firesite-event-banner--crashlytics-launch {
  background-color: #2c3849;
  color: #fff;
  padding-top: 48px;
}

.firesite-row {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  position: relative;
  padding: 0 40px;
}

.firesite-event-banner__content {
  font-size: 18px;
  font-weight: 500;
  max-width: 1350px;
  margin: 0 auto;
  padding: 12px 0;
  text-align: center;
}

.cta-logo {
  margin-top: -3px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  height: 32px;
  margin-right: 20px;
  width: 180px;
  vertical-align: middle;
}

.is-graphic-row {
  height: 212px;
  position: relative;
}

.firesite-row__inner {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12);
  margin: 0 auto;
  max-width: 1352px;
  padding: 80px 114px;
  position: relative;
  z-index: 1;
}

.firesite-page-header {
  font-size: 14px;
  line-height: 24px;
}

.firesite-page-header__tagline {
  color: #757575;
  font-family: 'Google Sans',Roboto,sans-serif;
  font-size: 48px;
  line-height: 62px;
  font-weight: 400;
  max-width: 80%;
  margin-bottom: 40px;
}

.firesite-button {
  cursor: pointer;
  background-color: #039be5;
  color: #fff;
  transition: box-shadow.2s;
  padding: 16px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-flex;
  border-radius: 2px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.devsite-dialog-button {
  cursor: pointer;
  color: #039be5;
  background-color: transparent;
  font-size: 14px;
  padding: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-flex;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.material-icons {
  margin: -2px 8px -12px;
  vertical-align: bottom;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.extra-padded-columns {
  margin-top: 28px;
  justify-content: space-between;
  flex-direction: row;
}

.firesite-columns__col {
  margin: 0 8px;
  padding-right: 28px;
}

.firesite-row__footer {
  background-color: #f5f5f5;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin: 60px -114px -80px;
  padding: 40px 114px;
}

.firesite-row-footer__body {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #757575;
}

.nowrap {
  white-space: nowrap;
}

.gmp-icons {
  vertical-align: middle;
  cursor: default;
  user-select: none;
  direction: ltr;
  display: inline-block;
  font-family: 'GMP Icons';
  font-feature-settings: 'liga';
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  height: 1em;
  letter-spacing: normal;
  line-height: 1;
  speak: none;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  width: 1em;
  word-wrap: normal;
}

.plat {
  margin: 0;
}

.firesite-row-header {
  margin-bottom: 10px;
}

.firesite-columns {
  display: flex;
  flex-direction: row;
  margin: 0 -8px;
  margin-bottom: 40px;
}

.firesite-row-header__title {
  color: #424242;
  font-family: 'Google Sans',Roboto,sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
}

.features-container {
  margin-bottom: 40px;
}

.firesite-feature-boxes {
  display: inline-flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 16px;
  padding-top: 1px;
  padding-left: 1px;
  width: 49%;
}

.firesite-feature-icon {
  background-color: #ffc107;
  display: inline-block;
  font-size: 46px;
  width: 1em;
  height: 1em;
  margin-bottom: 8px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 0.2px rgba(255,255,255,.5) inset, 0 -1px 0.2px rgba(255,143,0,.3) inset, 3px 3px 0 #b3e5fc;
}

.gmp-icons {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-size: 50%;
  color: #fff;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  direction: ltr;
  display: inline-block;
  font-family: 'GMP Icons';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  height: 1em;
  letter-spacing: normal;
  speak: none;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  width: 1em;
  word-wrap: normal;
  line-height: 1;
  text-shadow: 0 0 #ffb300, 1px 1px #ffb300, 2px 2px #ffb300, 3px 3px #ffb300, 4px 4px #ffb300, 5px 5px #ffb300,
  6px 6px #ffb300, 7px 7px #ffb300, 8px 8px #ffb300, 9px 9px #ffb300, 10px 10px #ffb300, 11px 11px #ffb300,
  12px 12px #ffb300, 13px 13px #ffb300, 14px 14px #ffb300, 15px 15px #ffb300, 16px 16px #ffb300, 17px 17px #ffb300,
  18px 18px #ffb300, 19px 19px #ffb300, 20px 20px #ffb300, 21px 21px #ffb300, 22px 22px #ffb300, 23px 23px #ffb300,
  24px 24px #ffb300, 25px 25px #ffb300, 26px 26px #ffb300, 27px 27px #ffb300, 28px 28px #ffb300, 29px 29px #ffb300,
  30px 30px #ffb300;
}

.firesite-page-home-feature-strip__feature {
  flex: 1;
  margin: 0 0 0 12px;
  font-size: 14px;
  line-height: 24px;
  max-width: 72%;
}

.firesite-page-home-feature-strip__name {
  font-size: 14px;
  line-height: 24px;
  color: #212121;
  font-weight: 500;
}

.firesite-page-home-feature-strip__description {
  font-weight: 400;
  color: #757575;
}

h3 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
}

.firesite-row-header__description {
  margin: 0;
}

p {
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  margin-top: 0;
  min-height: 72px;
  color: #757575;
}

.use-cases {
  margin-bottom: 40px;
}

.firesite-columns__image {
  display: block;
  margin: 0 auto;
  width: 75%;
}

.flat-icon {
  font-size: 30px;
  margin-right: 8px;
}

.app-makers {
  flex-wrap: wrap;
  justify-content: space-around;
}

.firesite-footer-row__tagline {
  font-family: 'Google Sans',Roboto,sans-serif;
  font-size: 48px;
  line-height: 68px;
  font-weight: 400;
  margin-bottom: 40px;
  color: #fff;
}

.firesite-footer-row {
  margin-bottom: 0;
  margin: 0 auto;
  max-width: 1352px;
  padding: 80px 114px;
  position: relative;
  z-index: 1;
}
