.background {
  background-color: #6297c1;
}

.message {
  background-color: #fff;
  font-size: 25px;
  font-weight: 500;
  padding: 12px;
  text-align: center;
  letter-spacing: 1px;
  color: grey
}

.container {
  position: relative;
  z-index: 1;
  background-color: transparent;
  padding: 40px 40px 10px 40px;
}

.card {
  padding: 114px;
  background-color: #fff;
  padding-top: 70px;
}

.title1 {
  justify-content: center;
  text-align: justify;
  color: #757575;
  font-size: 48px;
  line-height: 60px;
}

.back {
  justify-content: flex-start;
  display: flex;
  margin-top: 40px;
}

.videoButton {
  background-color: #6297c1;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 16px;
  line-height: 20px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}

.content {
  margin-top: 28px;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
}

.subContent {
  max-width: 245px;
}

.subtitle {
  justify-content: center;
  text-align: justify;
  color: #000;
  font-size: 18px;
  line-height: 26px;
  font-weight: 550;
}

.text {
  text-align: justify;
}

.container2 {
  position: relative;
  z-index: 1;
  background-color: transparent;
  padding: 0px 40px 10px 40px;
}

.title2 {
  justify-content: center;
  text-align: justify;
  color: #424242;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
}

.columns {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  max-width: 1352px;
  margin-top: 30px;
}

.column {
  width: 50%;
}

.imgs {
  max-width: 222px;
}

.subtitle2 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 550;
  color: #000;
  margin-top: 30px;
}

.part {
  display: inline-flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: stretch;
  padding-top: 1px;
  padding-left: 1px;
  width: 100%;
  margin-top: 20px;
}

.iconContent {
  background-color: #6297c1;
  display: inline-block;
  font-size: 46px;
  width: 1em;
  height: 1em;
  margin-bottom: 8px;
  border-radius: 50%;
  position: relative;
}

.icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 50%;
  color: #fff;
}

.serContent {
  margin: 0 0 0 12px;
  font-size: 14px;
  max-width: 72%;
}

.subtitle3 {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  line-height: 24px;
  margin: 0;
}

.text2 {
  font-weight: 400;
  color: #757575;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}
